
<div class="fab-container">
    <button data-selector="back-button" [routerLink]="['/subjects/math']" mat-mini-fab color="accent"><mat-icon>arrow_back</mat-icon></button>
</div>
<mat-card>
    <app-progress-bar [progress]="(selectedLesson$ | async)?.topics.progress"></app-progress-bar>
</mat-card>
<app-video-card *ngIf="!(selectedLesson$ | async)?.topics.progress.isCompleted else congratsTopics" [item]="videoCard$ | async"></app-video-card>
<ng-template #congratsTopics>
    <mat-card>
        <h2>Parabéns!</h2>
        <p>Você acertou todos os assuntos!</p>
        <img data-selector="congrats-image" height="300" src="https://drive.google.com/uc?export=view&id=17JBc2K6zXnzVbi2InF3aUzulYl1Hf5wI">
        <a mat-raised-button color="primary" [routerLink]="['/subjects/math']">Próxima aula</a>
    </mat-card>
</ng-template>