<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<mat-nav-list>
    <mat-list-item>
        <a class="">
            <mat-icon>local_library</mat-icon> 
            <!-- <span>Lessons</span>  -->
            <span fxFlex></span>
        </a>        
    </mat-list-item>

    <mat-list-item>
        <a class="">
            <mat-icon>people</mat-icon> 
            <!-- <span>Friends</span> -->
            <span fxFlex></span>
        </a>        
    </mat-list-item>

</mat-nav-list>