<div *ngIf="exercises$ | async as currentExercises">
<mat-card>
  <app-progress-bar [progress]="currentExercises.progress"></app-progress-bar>
</mat-card>
<mat-card>
  <div *ngIf="!currentExercises.progress.isCompleted else congrats">
    <div data-selector="exercise-content" [innerHTML]="currentExercises.current?.content"></div>
    <app-question-content *ngIf="currentExercises.current?.contentConfig" [config]="currentExercises.current?.contentConfig"></app-question-content>
    <app-answer-box [item]="currentExercises.current" (answerSubmitted)="onAnswerSubmitted($event)"></app-answer-box>
  </div>
  <ng-template #congrats>
    <h2>Bom trabalho!</h2>
    <img data-selector="congrats-image" height="300" src="https://drive.google.com/uc?export=view&id=10atErlnYlvXz2XjiOHWGs36J3bIUm_6M">
    <a mat-raised-button color="primary" [routerLink]="backLink$ | async">Próximo assunto</a>
  </ng-template>
</mat-card>
</div>