<div *ngIf="currentExercise$ | async as currentExercise">
<div *ngIf="countDownProgress$ | async as countDownProgress">
<mat-card *ngIf="!countDownProgress.isCompleted">
  <app-progress-bar [progress]="countDownProgress"></app-progress-bar>
</mat-card>
<mat-card>
  <div *ngIf="!countDownProgress.isCompleted else congrats">
    <div data-selector="exercise-content" [innerHTML]="currentExercise.content"></div>
    <app-question-content *ngIf="currentExercise.contentConfig" [config]="currentExercise.contentConfig"></app-question-content>
    <app-answer-box [item]="currentExercise" (answerSubmitted)="onAnswerSubmitted($event)"></app-answer-box>
  </div>
  <ng-template #congrats>
    <h2>Bom trabalho!</h2>
    <img data-selector="congrats-image" height="300" src="https://drive.google.com/uc?export=view&id=10atErlnYlvXz2XjiOHWGs36J3bIUm_6M">
    <a mat-raised-button color="primary" [routerLink]="backLink$ | async">Próximo assunto</a>
  </ng-template>
</mat-card>
</div>
</div>